*{
    font-family: 'Roboto';

}

#navbar img{
    width: 50px;
    border-radius: 10px;
    margin-left: 5px;
    
    
    

}

#navbar{
    background-color: rgb(31, 112, 194);


}

.nav-link{
    color: rgb(255, 255, 255);
    border-radius: 10px;
}



